In [1]:
a = 10
b = 10.50
c = a + b
print(c)
type(a)

20.5

int

In [2]:
type(b)

float

In [4]:
def suraj():
    print("sagar is lodu")

suraj()

sagar is lodu

In [15]:
def abc(name):
    print("hello" + " " + name)
abc("suraj")

hello suraj

In [17]:
def abc(name, sname):
    print("hbello" + name + sname)

abc("suraj" , "chouhan")

hellosurajchouhan

In [19]:
def q(name3 , name1 , name2):
    print("hello" + name2)
    
q(name1 = "shivam" , name2 = "suraj" , name3 = "chouhan")

hellosuraj

In [20]:
def qq(**name):
    print("name is : " + name ["name1"])
    
qq(name1 = "suraj" , name2 = "Software")

name is : suraj

In [24]:
def qq(**name):
    print("name is :" + name["name1"])
qq(name1 = "manisha" , name2 = "software")

name is :manisha

In [25]:
def city(cityname = "jaipur"):
    print("name:" + cityname)

In [26]:
city("Delhi")
city("Mumbai")
city()

name:Delhi
name:Mumbai
name:jaipur

In [10]:
char = "e"
if char in 'aeiou':
    print("this is vowel")
else:
    print("this is consonent")

this is vowel

In [33]:
num1 = 43
if num1 % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [2]:
l = [10,20,30,40,50]
sum = 0 

for value in l:
    sum = sum + value
print(sum)

150

In [10]:
s = "python simple string"
vowel_count = 0
consonent_count = 0

for value in s:
    if value in "AEIOUaeiou":
        vowel_count+=1
    elif value == " ":
        continue
        print("print this side")
    else:
        consonent_count+= 1
        
print(vowel_count,consonent_count)

4 14

In [15]:
l = [10,20,30,40,-1,50,60,70]
for value in l:
    if value < 0:
        print("number is negative",value)
        break
    
    else:
        print(value)

10
20
30
40
number is negative -1

In [11]:
num1 = 6
for value in range(1,num1):
    if num1 % value == 0:
        print(value)

1
2
3

In [43]:
for value1 in range(1,6):
    print("\n")
    for value2 in range(1,11):
        print(value1 * value2,end = " ")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

In [44]:
num1 = 5
result = 1
while num1 > 1:
    result = result * num1
    num1 = num1 - 1
print(result)

120

In [3]:
s1 = "'python' is easy to learn"
print(s1)

'python' is easy to learn

In [6]:
s1 = "python is easy to learn"
print(s1[0])
print(s1[-1])

p
n

In [13]:
num1 = 100
num2 = 200
s1 = "the value for num1 is {} and value for num2 is {}".format(num1,num2)
print(s1)

the value for num1 is 100 and value for num2 is 200

In [17]:
name = "mommy"
email = "mommy123@gmail.com"
subject = "received an entry from user '{}' with email '{}'".format(name,email)
print(subject)

received an entry from user 'mommy' with email 'mommy123@gmail.com'

In [23]:
n = "manisha"
e = "monisha@gmail.com"
subject = "received and entry from user {name} with email {email}".format(name=n,email=e)
print(subject)

received and entry from user manisha with email monisha@gmail.com

In [39]:
s = "python,java,C++,ruby"
l = s.split(",")
print(l)

s1 = ("=").join(l)
print(s1)

['python', 'java', 'C++', 'ruby']
python=java=C++=ruby

In [13]:
s = "python,java,c,c++,r"
l = s.split(",")
s2 = (",").join(l[::-1])
print(s2)

r,c++,c,java,python

In [20]:
s = "python,java,c,c++,r"
print(s.find("c"))
print(s.index("c"))

12
12

In [16]:
s =  "python is easy to learn"

l = s.find(" ")
print(l)

s1 = s.index("r")
print(s1)

s2 = s.replace("is","lodu")
print(s2)

s3 = (s.count("to"))
print(s3)

6
21
python lodu easy to learn
1

In [20]:
s = "lmspnpnaaaaaaaa"
max_char = ""
max_count = 0
for value in s:
    if s.count(value) > max_count:
        max_char = value
        max_count = s.count(value)
    
print(max_char,max_count)

a 8

In [32]:
s = "wdpfmewfpmbisssssss"
max_char = ""
max_count = 0

for value in s:
    if s.count(value) > max_count:
        max_char = value
        max_count = s.count(value)
        
print(max_count,max_char)

7 s

In [49]:
s = "Learning python is easy"
s2 = ""

for value in s:
    if value in "aeiou":
        s2 = s2 + s2.upper()
    else:
        s2 = s2 + value
print(s2)

LLLLrnLLLLRNng pythLLLLRNLLLLRNNG PYTHn LLLLRNLLLLRNNG PYTHLLLLRNLLLLRNNG PYTHN s LLLLRNLLLLRNNG PYTHLLLLRNLLLLRNNG PYTHN LLLLRNLLLLRNNG PYTHLLLLRNLLLLRNNG PYTHN S LLLLRNLLLLRNNG PYTHLLLLRNLLLLRNNG PYTHN LLLLRNLLLLRNNG PYTHLLLLRNLLLLRNNG PYTHN S LLLLRNLLLLRNNG PYTHLLLLRNLLLLRNNG PYTHN LLLLRNLLLLRNNG PYTHLLLLRNLLLLRNNG PYTHN S sy

In [50]:
s = "Learning python is easy"

for value in s:
    if value in "aeiou":
        s = s.replace(value,value.upper())
print(s)

LEArnIng pythOn Is EAsy

In [52]:
s = "Python is easy to learn"

if s[0].isupper() and s[1:].islower():
    print(True)
else:
    print(False)

True

In [53]:
s = "Python is easy to learn"

if s == s.capitalize():
    print(True)
else:
    print(False)

True

In [69]:
l  = [10,20,"Python",30,40,[10,20,30,]]
print(l[0])
print(l[-1])

10
[10, 20, 30]

In [2]:
l = ["python","c","java"]
l2 = ["ruby","html"]
l.extend(l2)
print(l)

['python', 'c', 'java', 'ruby', 'html']

In [4]:
print(ord("a"),ord("z"))
print(ord("A"),ord("Z"))

97 122
65 90

In [5]:
print(chr(97),chr(122))

a z

In [15]:
alpha = []
start = "a"
end = "z"

for value in range(ord(start),ord(end) +1):
    alpha.append(chr(value))
print(alpha)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [20]:
l1 = [[1,2,3],[4,5,6],[7,8,9]]
l2 = []
for value in l1:
    l2.extend(value)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
l1 = [[1,2,3],[4,5,6],[7,8,9]]
l2 = []

for value in l1:
    for value2 in value:
        l2.append(value2)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
from collections import Counter

s = "aaaggggddddccc"
c = Counter(s)
print(dict(c))

{'a': 3, 'g': 4, 'd': 4, 'c': 3}

In [41]:
l1 = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
l2 = [[100,200,300],[400,500,600],[700,800,900],[100,1100,1200]]
l3 = []

for row_index in range(len(l1)):
    temp = []
    for col_index in range(len(l1[0])):
        temp.append(l1[row_index][col_index] + l2[row_index][col_index])
    l3.append(temp)
print(l3)

[[101, 202, 303], [404, 505, 606], [707, 808, 909], [110, 1111, 1212]]

In [5]:
def CreateEmpData(list_emp, **kwargs):
	list_emp.append(kwargs)

In [10]:
list_emp = []
CreatEmpData(list_emp, name = 'suraj',age = '22',location = 'delhi')

NameError: name 'CreatEmpData' is not defined

In [8]:
list_emp

NameError: name 'list_emp' is not defined

In [1]:
import bs

In [1]:
l = [1,2,3,4]
key = 2
print(bs.binary_search(l,key))

NameError: name 'bs' is not defined

In [2]:
n = 3
for i in range(1,n+1): 
    print (i,end='')

123

In [7]:
n = 3
for i in range(1,n+1):
    print(i)

1
2
3

In [8]:
x, y, z, n = int(input()), int(input()), int(input()), int(input())
print ([[a,b,c] for a in range(0,x+1) for b in range(0,y+1) for c in range(0,z+1) if a + b + c != n ])

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [ ]:
x,y,z,n = int(input()), int(input()) , int(input()) , int(input())
print ([[a,b,c]for a in range(0,x+1) for b in range(0,y+1) for c in range(0,z+1) if a+b+c !=n])

In [ ]:
n = input()
l = []
for _ in range(n):
    s = raw_input().split()
    cmd = s[0]
    args = s[1:]
    if cmd !="print":
        cmd += "("+ ",".join(args) +")"
        eval("l."+cmd)
    else:
        print (l)