In [ ]:
# print ("hii")

num1 = 100
num2 = 200
num3 = num1 + num2 
print (num3)

In [13]:
name = "ABC"
print(type(name))

<class 'str'>

In [14]:
nums = (100,200,300)
print(type(nums))

<class 'tuple'>

In [16]:
d  = {1 : 1,2:4,3:9,4:16}
print(type(d))
print(d)

<class 'dict'>
{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
Immutable vs Mutable

In [17]:
num1 = 100
print(num1)

num1 = 200
print(num1)

100
200

In [3]:
num1 = 100
print(num1,id(num1))

num1 = 200
print(num1,id(num1))

100 1388772832
200 1388774432

100 
200 num1

In [5]:
s = "python"
print(id(s))

s = "java"
print(id(s))

52510272
44575520

In [ ]:
Memory Location :
        1. Immutable : At same memory i can not change the value
        2. mutable : i can change the value at same memomry location

In [8]:
l = [10,20,30,40,50]
print(id(l))
l.append(50)
print(id(l))

92295496
92295496

In [ ]:
Mutable : add,update,delete operations
Immutable : can not perform add,update,delete operation

In [ ]:
Immutable :
    int
    float
    str
    tuple

Mutable : (add,update,delete)
    list
    dict
    set

In [10]:
 s = {10,20,30,40,50,20,40}
print(type(s),s)

<class 'set'> {40, 10, 50, 20, 30}

In [ ]:
type() : return the data type of particular variable
id() : give the memory location

In [15]:
num1 = 100
num2 = 100
print(id(num1),id(num2)) #Mutable

1388772832 1388772832

In [19]:
num1 = 255
num2 = 255
print(id(num1),id(num2))

1388775312 1388775312

In [ ]:
0 - 256 => object intering

In [24]:
s1 = "python"
s2 = "java"
print(s1+s2)
print(type(s1))

pythonjava
<class 'str'>

In [ ]:
Operatoros :
    1. Arithmetic Operators +,-,*,/,%,**,//
    
        // => floor division
        ** => power of value
        % => Mod
        / => True division
        
    2. Comparison Operators : ==,<,>,<=,>=, !=
        
    3. Membership Operators : in , not in
        
    4. Identity Operators : is , not is
        
    5. Assignment Operators : = ,+= , -= , /=
   
    6. Logical Operators : and , and or

In [38]:
print (10 / 3)
print (10 ** 3)
print (10 // 3)
print (10 % 3)

3.3333333333333335
1000
3
1

In [41]:
s1 = "python"
s2 = "python"
print(s1 == s2)
#String

s1 = 2
s2 = 5
print (s1 == s2)
#integer

True
False

In [43]:
l = [100,200,300,500]
print(300 in l)

True

In [47]:
s1 = "python"
print("n" not in s1)

False

In [48]:
print(5 in 500)
#you can not use <in> operators in integer and float

TypeError: argument of type 'int' is not iterable

In [ ]:
Not iterable int,float
Iterable : str ,tuple, list,dict,set

In [51]:
l = [100,200,300,400]
print(1000 not in l)

True

In [54]:
d = {1:100,2:200,3:300}
print(100 in d)
# in case of dict in/not in will only check with keys,
# will not check with values

False

In [59]:
num1 = 100
num2 = 100
 
print (num1 == num2)
print(num1 is  num2)
print (num1 is not num2)

True
True
False

In [61]:
l1 = [10,20,30]
l2 = [10,20,30]
print(l1==l2) #   == (compare value)
print(l1 is l2) #false because it compare memory location

True
False

In [72]:
num1 = 100
print(num1)
num1 += 10
#num1 = num1 + 10 
print(num1)

num2 = 300
print(num2)
num2 -= 50
print(num2)

100
110
300
250

In [77]:
print(100 == 100 and 100 != 100)

False