In [ ]:
Funtions ==> A function is a block of organized, reusable code that is used to perform a single, related action. 
                Functions provide better modularity for your application and a high degree of code reusing.

In [ ]:
Syntax of funtion:
    
  def functionname( parameters ):
   "function_docstring"
   function_suite
   return [expression]

In [7]:
def vargFunc(*args):
    print(type(args))

In [8]:
vargFunc(1,2,3,4)

<class 'tuple'>

In [9]:
vargFunc(4,5,6,7)

<class 'tuple'>

In [ ]:
###  problems related to funtions
* call a function with multiple words
* Return a string separated by spaces containing only the even lenght

In [17]:
def evenWordsCollector(*args):
    l = []
    for word in args:
         if ifWordEven(word):
                l.append(word)
    res = ' '.join(l)
    return res

In [18]:
def ifWordEven(word):
    if len(word) % 2 == 0:
        return True
    else:
        return False

In [20]:
evenWordsCollector('abc','def','abcd','jklm')

'abcd jklm'

In [19]:
ifWordEven('Hell')

True

In [ ]:
# Take employee Data & put them in a list

In [22]:
def CreateEmpData(list_emps, **kwargs):
    list_emps.append(kwargs)

In [36]:
list_emps = []
CreateEmpData(list_emps, name ='abc',age = 20)

In [25]:
list_emps

[{'name': 'abc', 'age': '20'}]

In [37]:
CreateEmpData(list_emps, name = 'suraj',age = 22,location = 'dungarpur')

In [39]:
CreateEmpData(list_emps, name = 'def', age = 20 , salary=100000)
CreateEmpData(list_emps, name = 'def', age = 32 , salary=500000)

In [44]:
def GetPeopleSalary(list_emps , salary=500000):
    for emp in list_emps:
        if 'salary' in emp:
            if emp['salary'] >= salary:
                print(emp)

In [45]:
GetPeopleSalary(list_emps,100000)

{'name': 'def', 'age': 20, 'salary': 100000}
{'name': 'def', 'age': 32, 'salary': 500000}

In [ ]:
# problem 

#  1. store students marks info in a list
#     [{'name':'abc','maths':20,'english':'30'}]
#  2. Find topper of the class`

In [48]:
def StudentMarks(list_students, **marks):
    list_students.append(marks)

In [63]:
list_students = []

StudentMarks(list_students,name = 'suraj',maths = 20,english = 90,science = 40)
StudentMarks(list_students,name = 'sagar',maths = 40,english = 20,sicence = 50)
StudentMarks(list_students,name = 'kishan',maths = 50,english = 80,science = 60)
StudentMarks(list_students,name = 'Monil',maths = 30,english = 60,science = 70)

In [64]:
list_students

[{'name': 'suraj', 'maths': 20, 'english': 90, 'science': 40},
 {'name': 'sagar', 'maths': 40, 'english': 20, 'sicence': 50},
 {'name': 'kishan', 'maths': 50, 'english': 80, 'science': 60},
 {'name': 'Monil', 'maths': 30, 'english': 60, 'science': 70}]

In [65]:
def calcmarksAvg(list_students):
    for students in list_students:
        total_marks = 0
        count = 0 
        for k,v in students.items():
            if k != 'name':
                total_marks += v
                count += 1
        students['avg'] = total_marks/count

In [66]:
calcmarksAvg(list_students)

In [67]:
list_students

[{'name': 'suraj', 'maths': 20, 'english': 90, 'science': 40, 'avg': 50.0},
 {'name': 'sagar',
  'maths': 40,
  'english': 20,
  'sicence': 50,
  'avg': 36.666666666666664},
 {'name': 'kishan',
  'maths': 50,
  'english': 80,
  'science': 60,
  'avg': 63.333333333333336},
 {'name': 'Monil',
  'maths': 30,
  'english': 60,
  'science': 70,
  'avg': 53.333333333333336}]

In [68]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [84]:
def findTopper(list_students):
    def f(e):
        return e['avg']
    return max(list_students,key=f)

In [85]:
l = [1,223,9]

In [86]:
max(l)

223

In [87]:
findTopper(list_students)

{'name': 'kishan',
 'maths': 50,
 'english': 80,
 'science': 60,
 'avg': 63.333333333333336}

In [88]:
topper = findTopper(list_students)

In [89]:
topper['name']

'kishan'

In [81]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.